* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section{
  height: 100vh;
  background: purple;
  padding: 2rem;
}

.container{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 2rem;
  border-radius: 5px;
}

h1{
  font-size: 45px;
}

p{
  margin-top: 10px;
  line-height: 1.3;
  font-size: 25px;
}

#image{
  width: 50px;
  height: 40px;
  vertical-align: middle;
}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
}

button:active{
  transition: 0.4s ease-in-out;
  opacity: 0.5;
}

